In [1]:
pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting transformers
  Downloading transformers-4.24.0-py3-none-any.whl (5.5 MB)
     |████████████████████████████████| 5.5 MB 8.1 MB/s
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2022.6.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.13.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.21.6)
Collecting huggingface-hub<1.0,>=0.10.0
  Downloading huggingface_hub-0.10.1-py3-none-any.whl (163 kB)
     |████████████████████████████████| 163 kB 63.3 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.8.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.64.1)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1
  Downloading tokenizers-0.13.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.6 MB)
     |████████████████████████████████| 7.6 MB 44.5 MB/s
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.10.0->transformers) (4.1.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.9)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.10.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Installing collected packages: tokenizers, huggingface-hub, transformers
ERROR: Operation cancelled by user

In [19]:
git remote add origin https://github.com/gong-you-bookstore/rs.git
git branch -M main
git push -u origin main

SyntaxError: ignored

In [1]:
from ast import literal_eval
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action='ignore')
books = pd.read_csv('/content/drive/MyDrive/nlbooks.csv', encoding='utf-8')
books = books.replace({np.nan: 'none'})

books_df=books[['title','description']]

#books_df[['description']=='none']=None
books_df_nax=books_df.dropna(axis='rows')


from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

cnt_vect = CountVectorizer(min_df=0, ngram_range=(1,2))
# fit_transform안에 데이터프레임형태로 넣어주면 안됨. 하나의 변수씩만 넣어주자!
title_vect = cnt_vect.fit_transform(books_df_nax['title'])
#des_vect = cnt_vect.fit_transform(books['description'])
#books['book_info']=books['title']+books['description']
#b_category=books['kdc_class_no']

# 책 제목에 따른 코사인 유사도 추출
#title_sim = cosine_similarity(title_vect, title_vect)
#des_sim=cosine_similarity(des_vect, des_vect)
#mix_sim=title_sim + des_sim
#print(mix_sim[:6])
#print(title_sim[:6])

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
tfidf = TfidfVectorizer(stop_words='english')

In [4]:
tfidf_matrix = tfidf.fit_transform(books_df_nax['description'])

tfidf_matrix.shape

(157118, 336300)

In [5]:
from sklearn.cluster import KMeans
title_vect = tfidf.fit_transform(books_df_nax['title'])
kmeans=KMeans(n_clusters=100, random_state=42)
clusters=kmeans.fit(title_vect)

In [6]:
books_df_nax['tit_cluster']=clusters.labels_

In [7]:
clu1_books=books_df_nax[books_df_nax['tit_cluster']==0]

clu2_books=books_df_nax[books_df_nax['tit_cluster']==1]

clu3_books=books_df_nax[books_df_nax['tit_cluster']==2]

clu4_books=books_df_nax[books_df_nax['tit_cluster']==3]

clu5_books=books_df_nax[books_df_nax['tit_cluster']==4]

clu6_books=books_df_nax[books_df_nax['tit_cluster']==5]

clu7_books=books_df_nax[books_df_nax['tit_cluster']==6]

clu8_books=books_df_nax[books_df_nax['tit_cluster']==7]

clu9_books=books_df_nax[books_df_nax['tit_cluster']==8]

clu10_books=books_df_nax[books_df_nax['tit_cluster']==9]

clu11_books=books_df_nax[books_df_nax['tit_cluster']==10]

clu12_books=books_df_nax[books_df_nax['tit_cluster']==11]

clu13_books=books_df_nax[books_df_nax['tit_cluster']==12]

clu14_books=books_df_nax[books_df_nax['tit_cluster']==13]

clu15_books=books_df_nax[books_df_nax['tit_cluster']==14]

clu16_books=books_df_nax[books_df_nax['tit_cluster']==15]

clu17_books=books_df_nax[books_df_nax['tit_cluster']==16]

clu18_books=books_df_nax[books_df_nax['tit_cluster']==17]

clu19_books=books_df_nax[books_df_nax['tit_cluster']==18]

clu20_books=books_df_nax[books_df_nax['tit_cluster']==19]

clu21_books=books_df_nax[books_df_nax['tit_cluster']==20]

clu22_books=books_df_nax[books_df_nax['tit_cluster']==21]

clu23_books=books_df_nax[books_df_nax['tit_cluster']==22]

clu24_books=books_df_nax[books_df_nax['tit_cluster']==23]

clu25_books=books_df_nax[books_df_nax['tit_cluster']==24]

clu26_books=books_df_nax[books_df_nax['tit_cluster']==25]

clu27_books=books_df_nax[books_df_nax['tit_cluster']==26]

clu28_books=books_df_nax[books_df_nax['tit_cluster']==27]

clu29_books=books_df_nax[books_df_nax['tit_cluster']==28]

clu30_books=books_df_nax[books_df_nax['tit_cluster']==29]

clu31_books=books_df_nax[books_df_nax['tit_cluster']==30]

clu32_books=books_df_nax[books_df_nax['tit_cluster']==31]

clu33_books=books_df_nax[books_df_nax['tit_cluster']==32]

clu34_books=books_df_nax[books_df_nax['tit_cluster']==33]

clu35_books=books_df_nax[books_df_nax['tit_cluster']==34]

clu36_books=books_df_nax[books_df_nax['tit_cluster']==35]

clu37_books=books_df_nax[books_df_nax['tit_cluster']==36]

clu38_books=books_df_nax[books_df_nax['tit_cluster']==37]

clu39_books=books_df_nax[books_df_nax['tit_cluster']==38]

clu40_books=books_df_nax[books_df_nax['tit_cluster']==39]

clu41_books=books_df_nax[books_df_nax['tit_cluster']==40]

clu42_books=books_df_nax[books_df_nax['tit_cluster']==41]

clu43_books=books_df_nax[books_df_nax['tit_cluster']==42]

clu44_books=books_df_nax[books_df_nax['tit_cluster']==43]

clu45_books=books_df_nax[books_df_nax['tit_cluster']==44]

clu46_books=books_df_nax[books_df_nax['tit_cluster']==45]

clu47_books=books_df_nax[books_df_nax['tit_cluster']==46]

clu48_books=books_df_nax[books_df_nax['tit_cluster']==47]

clu49_books=books_df_nax[books_df_nax['tit_cluster']==48]

clu50_books=books_df_nax[books_df_nax['tit_cluster']==49]

clu51_books=books_df_nax[books_df_nax['tit_cluster']==50]

clu52_books=books_df_nax[books_df_nax['tit_cluster']==51]

clu53_books=books_df_nax[books_df_nax['tit_cluster']==52]

clu54_books=books_df_nax[books_df_nax['tit_cluster']==53]

clu55_books=books_df_nax[books_df_nax['tit_cluster']==54]

clu56_books=books_df_nax[books_df_nax['tit_cluster']==55]

clu57_books=books_df_nax[books_df_nax['tit_cluster']==56]

clu58_books=books_df_nax[books_df_nax['tit_cluster']==57]

clu59_books=books_df_nax[books_df_nax['tit_cluster']==58]

clu60_books=books_df_nax[books_df_nax['tit_cluster']==59]

clu61_books=books_df_nax[books_df_nax['tit_cluster']==60]

clu62_books=books_df_nax[books_df_nax['tit_cluster']==61]

clu63_books=books_df_nax[books_df_nax['tit_cluster']==62]

clu64_books=books_df_nax[books_df_nax['tit_cluster']==63]

clu65_books=books_df_nax[books_df_nax['tit_cluster']==64]

clu66_books=books_df_nax[books_df_nax['tit_cluster']==65]

clu67_books=books_df_nax[books_df_nax['tit_cluster']==66]

clu68_books=books_df_nax[books_df_nax['tit_cluster']==67]

clu69_books=books_df_nax[books_df_nax['tit_cluster']==68]

clu70_books=books_df_nax[books_df_nax['tit_cluster']==69]

clu71_books=books_df_nax[books_df_nax['tit_cluster']==70]

clu72_books=books_df_nax[books_df_nax['tit_cluster']==71]

clu73_books=books_df_nax[books_df_nax['tit_cluster']==72]

clu74_books=books_df_nax[books_df_nax['tit_cluster']==73]

clu75_books=books_df_nax[books_df_nax['tit_cluster']==74]

clu76_books=books_df_nax[books_df_nax['tit_cluster']==75]

clu77_books=books_df_nax[books_df_nax['tit_cluster']==76]

clu78_books=books_df_nax[books_df_nax['tit_cluster']==77]

clu79_books=books_df_nax[books_df_nax['tit_cluster']==78]

clu80_books=books_df_nax[books_df_nax['tit_cluster']==79]

clu81_books=books_df_nax[books_df_nax['tit_cluster']==80]

clu82_books=books_df_nax[books_df_nax['tit_cluster']==81]

clu83_books=books_df_nax[books_df_nax['tit_cluster']==82]

clu84_books=books_df_nax[books_df_nax['tit_cluster']==83]

clu85_books=books_df_nax[books_df_nax['tit_cluster']==84]

clu86_books=books_df_nax[books_df_nax['tit_cluster']==85]

clu87_books=books_df_nax[books_df_nax['tit_cluster']==86]

clu88_books=books_df_nax[books_df_nax['tit_cluster']==87]

clu89_books=books_df_nax[books_df_nax['tit_cluster']==88]

clu90_books=books_df_nax[books_df_nax['tit_cluster']==89]

clu91_books=books_df_nax[books_df_nax['tit_cluster']==90]

clu92_books=books_df_nax[books_df_nax['tit_cluster']==91]

clu93_books=books_df_nax[books_df_nax['tit_cluster']==92]

clu94_books=books_df_nax[books_df_nax['tit_cluster']==93]

clu95_books=books_df_nax[books_df_nax['tit_cluster']==94]

clu96_books=books_df_nax[books_df_nax['tit_cluster']==95]

clu97_books=books_df_nax[books_df_nax['tit_cluster']==96]

clu98_books=books_df_nax[books_df_nax['tit_cluster']==97]

clu99_books=books_df_nax[books_df_nax['tit_cluster']==98]

clu100_books=books_df_nax[books_df_nax['tit_cluster']==99]

In [9]:
clu1_tfidf = tfidf.fit_transform(clu1_books['description'])

In [10]:
clu1_des_sim=cosine_similarity(clu1_tfidf,clu1_tfidf)

In [11]:
clu1_des_sim

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [12]:
clu1_books

,title,description,tit_cluster
135,하이엔드 High-End 수능 기하 (2021년) - 수능 고난도 상위 5문항 정복,출제 빈도가 높은 고난도 유형을 선별하여 집중적으로 공략하는 고난도 4점 유형 대비...,0
146,수능 구문 빅데이터 기본편 (2022년용) - 수능에 잘 나오는 구문 947,"수능 구문 빅데이터는 수능 영어 기출 13,000 문장을 분석해 실제 수능에 나오는...",0
154,수능 구문 빅데이터 수능빈출편 (2022년용) - 수능에 꼭 나오는 구문 533,"수능 구문 빅데이터는 수능 영어 기출 13,000 문장을 분석해 실제 수능에 나오는...",0
238,우선순위 영단어 (수능),"수년간의 수능, 모평, 학평을 분석해 가장 많이 출제된 필수 단어 1800개를 선정...",0
242,쭉쭉 읽어라 수능 입문 - 직독직해의 기적!,처음에는 조금 어색할지 모르지만 영어식으로 읽는 직독직해 훈련을 하다보면 이해가 잘...,0
...,...,...,...
154387,볼리션 : 미래를 보는 자,none,0
154811,박완서 소설어 사전 - 한국 현대사의 문학적 증언사 박완서 그 천의무봉한 글의 숲!,"한국 문학의 거목, 박완서 작가 타계 10주기를 맞아 새롭게 고쳐 펴낸 책. 소설어...",0
155046,한국 다도 고전 다신전,"화학, 생물학, 농학, 임학 등의 현대과학이 이룬 성과를 최대한 활용하고, 누구나 ...",0
155049,해맑은 영혼처럼 (유해원 수필집),"뇌졸중으로 쓰러진 이후 정상인으로 닿기 위한 저자의 꿈, 그 꿈을 실현하기 위해 치...",0
156607,2022 백광훈 형사소송법 통합 대표유형 기출 문제집 - 제6판 New Edition,법원직·국가직·경찰직·변호사시험 기출문제들을 유형분류화 하였다. 이를 통해 최소의 ...,0

In [ ]:
clu2_tfidf = tfidf.fit_transform(clu2_books['description'])
clu2_des_sim=cosine_similarity(clu2_tfidf,clu2_tfidf)
clu2_des_sim

In [13]:
clu2_books

,title,description,tit_cluster
0,너에게 목소리를 보낼게 - &lt;달빛천사&gt; 성우 이용신의 첫 번째 에세이,2004년 방영한 애니메이션 &lt;달빛천사&gt;에서 주인공 루나(풀문) 역을 맡...,1
1,일기에도 거짓말을 쓰는 사람 - 99년생 시인의 자의식 과잉 에세이,“그러니 나는 말하고 싶은 것을 말하겠다”「침착하게 사랑하기」 차도하 시인 첫 에세...,1
2,본격 한중일 세계사 12 - 임오군란과 통킹 위기,한중일 관계의 결정적 분기점인 임오군란의 막전 막후를 다룬다. 러시아의 세력 확장을...,1
3,즉시 기분을 바꿔드립니다 - 신기하게 마음이 편해지는 응급 처방전,"누구에게나 기분 구급상자가 필요하다. 하나씩 하나씩 차근차근, 좋은 기분을 쌓고 건...",1
4,"오늘도 리추얼 : 음악, 나에게 선물하는 시간",나다운 일상을 만드는 사람들의 이야기를 담은 『오늘도 리추얼』 시리즈가 위즈덤하우스...,1
...,...,...,...
157110,캘리학개론,none,1
157111,2022 예산회계실무 기본서 - 지방자치단체 및 공공기관의,"지방자치단체와 공공기관(공기업, 출자ㆍ출연기관, 민간위탁, 보조단체 포함)에서 회계...",1
157112,대학&#x27;생&#x27;은 처음이라,none,1
157113,설민석의 세계사 대모험 11 (영국 산업 혁명 편: 혁명에 맞선 자들),none,1
157115,"과탑이 알려 주는 대학 생활 한 권으로 끝내기 (어서와, 대학은 처음이지?)",none,1

In [14]:
clu3_tfidf = tfidf.fit_transform(clu3_books['description'])
clu3_des_sim=cosine_similarity(clu3_tfidf,clu3_tfidf)
clu3_des_sim

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [14]:
clu3_books

,title,description,tit_cluster
2423,금속재료의 이론과 실무,1장 금속재료의 기초 / 2장 상태도 / 3장 철강재료 / 4장 강의 열처리 / 5...,2
3433,가족관계 등록에 관한 실무 - 개정,none,2
4638,(AHA+) 브런치 메뉴 실무 :,none,2
4710,(AHA+) 1인 미디어 제작과정 실무,none,2
8983,파이썬 머신러닝 실무 테크닉 100,"큰 호평을 받았던 《파이썬 데이터 분석 실무 테크닉 100》을 잇는 것으로, 실제 ...",2
...,...,...,...
153758,자동차 전기·전자제어 실무. 1,none,2
154963,상가건물 임대차 보호법 실무 - 개정판,상가건물 임대차 보호법 실무에 대해 다룬 도서다. 상가건물 임대차 보호법 실무에 대...,2
154966,주택 임대차 보호법 실무 - 개정판,주택 임대차 보호법 실무에 대해 다룬 도서다. 주택 임대차 보호법 실무에 대한 기초...,2
156485,지금 당장 ESG - 전 직원이 함께하는 ESG 실무 교과서,"ESG 경영은 결국 기업을 균형 있게 오래도록 운영하며 성장시킬 수 있는 방법이고,...",2
156717,건설 안전관리 실무,none,2

In [16]:
clu4_tfidf = tfidf.fit_transform(clu4_books['description'])
clu4_des_sim=cosine_similarity(clu4_tfidf,clu4_tfidf)
clu4_des_sim

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [15]:
clu4_books

,title,description,tit_cluster
26669,해적왕:임이모 新무협 판타지 소설,none,3
26672,해적왕:임이모 新무협 판타지 소설,밑바닥을 기며 시퍼런 독기와 치열한 잔머리로 살아가던 연천무! 조금은 치사하고 치졸...,3
26673,해적왕:임이모 新무협 판타지 소설,밑바닥을 기며 시퍼런 독기와 치열한 잔머리로 살아가던 연천무! 조금은 치사하고 치졸...,3
26674,해적왕:임이모 新무협 판타지 소설,밑바닥을 기며 시퍼런 독기와 치열한 잔머리로 살아가던 연천무! 조금은 치사하고 치졸...,3
27013,화우도:풍운강 新무협 판타지 소설,none,3
...,...,...,...
72891,신도무쌍 :사도연 新무협 판타지 소설,[표지글]삼 년 전 나는 죽었다. 그리고… 다시 태어났다. 사부를 해했다는 오명으로...,3
72892,신도무쌍 :사도연 新무협 판타지 소설,[표지글]삼 년 전 나는 죽었다. 그리고… 다시 태어났다. 사부를 해했다는 오명으로...,3
72893,신도무쌍 :사도연 新무협 판타지 소설,[표지글]삼 년 전 나는 죽었다. 그리고… 다시 태어났다. 사부를 해했다는 오명으로...,3
72894,신도무쌍 :사도연 新무협 판타지 소설,[표지글]삼 년 전 나는 죽었다.그리고.... 다시 태어났다.사부를 해했다는 오명으...,3
72895,신도무쌍 :사도연 新무협 판타지 소설,[표지글]삼 년 전 나는 죽었다.그리고.... 다시 태어났다.사부를 해했다는 오명으...,3

In [18]:
clu5_tfidf = tfidf.fit_transform(clu5_books['description'])
clu5_des_sim=cosine_similarity(clu5_tfidf,clu5_tfidf)
clu5_des_sim

array([[1.        , 0.        , 0.01833115, 0.03853179],
       [0.        , 0.        , 0.        , 0.        ],
       [0.01833115, 0.        , 1.        , 0.01412725],
       [0.03853179, 0.        , 0.01412725, 1.        ]])

In [16]:
clu5_books

,title,description,tit_cluster
180,빠작 중학 국어 한자 어휘 - 한자를 통해 중학 국어 필수 어휘를 배우는 한자 어휘...,한자를 통해 중학 국어 필수 어휘를 배우는 한자 어휘 기본서다. 중학교 전 학년 국...,4
182,빠작 중학 국어 첫 문법 - 중학 국어 문법을 쉽게 익히는 문법 입문서,중학 국어 문법을 쉽게 익힐 수 있는 문법 입문서다. 짧은 단위로 끊어서 정리한 개...,4
187,중학교 역사.,none,4
291,(EBS link) 국어 영역 :,none,4
336,중학교 역사,none,4
...,...,...,...
148573,(중학교) 도덕,none,4
148575,(중학교) 도덕,none,4
148576,(중학교) 국어 :자습서,#NAME?,4
148577,(중학교) 국어 :자습서,#NAME?,4
153819,국어,none,4

In [21]:
clu6_tfidf = tfidf.fit_transform(clu6_books['description'])
clu6_des_sim=cosine_similarity(clu6_tfidf,clu6_tfidf)
clu6_des_sim

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [45]:
clu6_books

,title,description,tit_cluster
1630,북비. 4 : 제1부 무시림 사람들 제4권 가던 길 엇들어,none,5
1789,바닷가 사람들,none,5
1998,그 사람들,none,5
2813,눈물에 젖는 사람들,향락의 도시 경성 세태와 눈물에 젖은 사람들이 향한 간도에서의 삶. 일제 강점기 경...,5
3961,"어머니, 그리고 다른 사람들 - 상호 이해의 진화적 기원",미국의 저명한 인류학자이자 영장류학자인 세라 블래퍼 허디의 책이다. 다윈 이래로 진...,5
...,...,...,...
153856,동굴 속 사람들,none,5
154392,무지개를 타고 온 사람들:2021 다문화가족 생활 수기,none,5
154791,인천항과 사람들,none,5
155631,돌고돌아 태극이니 지성이면 감천이라!: 감천문화마을 사람들 이야기,none,5
156482,행복한 나라의 불행한 사람들 - 복지국가 스웨덴은 왜 실패하고 있는가,스웨덴에서 직접 살아본 경험과 다양한 통계 자료를 바탕으로 북유럽 복지국가 모델의 ...,5

In [ ]:
clu7_tfidf = tfidf.fit_transform(clu7_books['description'])
clu7_des_sim=cosine_similarity(clu7_tfidf,clu7_tfidf)
clu7_des_sim

In [46]:
clu7_books

,title,description,tit_cluster
2112,Gosiplus 민법 - 공인중개사 2003,2003년 공인중개사 시험 대비 민법 수험서. 기존의 기본서 내용들을 완벽히 요약 ...,6
12376,민법 및 민사특별법,암기식이 아닌 기본적 원리와 전반적인 흐름의 이해를 목적으로 하는 전공서. 민법 중...,6
12441,민법 및 민사특별법,본서는 2002년 최신 개정판으로서... 다년간 출제패턴의 분석에 따른 실전예상문제...,6
12855,(공인중개사 시험대비)부동산 민법,공인중개사 시험대비 부동산 민법 수험서. 최신 출제경향과 법개정내용을 충실히 반영하...,6
15035,부동산세법:2003 제14회 공인중개사 시험대비,2003년 14회 공인중개사 시험 대비 부동산세법 수험서. 산업인력공단 출제경향 분...,6
...,...,...,...
155002,2022 EBS 공인중개사 기본서 2차 부동산공시법,"2022년도 제33회 공인중개사 시험 합격을 목표로 하는 학생들이 꼭 봐야 하는, ...",6
155061,2022 EBS 공인중개사 기본서 1차 부동산학개론,수험생들이 기본기를 탄탄하게 다질 수 있도록 시험의 출제 비중을 분석하여 단원별 핵...,6
155067,2022 EBS 공인중개사 기본서 2차 부동산공법,수험생들이 기본기를 탄탄하게 다질 수 있도록 시험의 출제 비중을 분석하여 단원별 핵...,6
155068,2022 EBS 공인중개사 기본서 2차 부동산세법,"2022년도 제33회 공인중개사 시험 합격을 목표로 하는 학생들이 꼭 봐야 하는, ...",6
156710,2022 해커스 공인중개사 1차 기초입문서 : 부동산학개론 · 민법 및 민사특별법 ...,2022년도 제33회 공인중개사 시험 합격을 목표로 하는 학생들이 쉽고 정확한 설명...,6

In [47]:
clu8_books

,title,description,tit_cluster
669,아기 오리들한테 길을 비켜 주세요,none,7
1070,엄마'다시는 그런짓 안할 거야,none,7
1159,성탄절 아기 예수님을 만나러 가요 - 스티커 놀이 성경,"호기심 많은 유아가 가장 재미있어 하는 스티커 붙이기와 오리고 만들고, 미로를 통과...",7
1207,젓가락 엄마,none,7
1689,엄마 이제 게임 조금만 할게요,none,7
...,...,...,...
153952,"엄마, 안녕",none,7
155371,아기 돼지 삼형제 [오디오북] = (The) Three Little Pigs,none,7
155410,"엄마, 일단 가고봅시다! [오디오북]",none,7
155440,엄마 아빠는 훌륭해 [오디오북],none,7
155474,"엄마, 히말라야는 왜 가?",2020 출판산업진흥원 우수출판콘텐츠 선정작. 사회가 부여한 가짜 엄마 정체성을 벗...,7

In [48]:
clu9_books

,title,description,tit_cluster
28,산책 소설,현대문학 핀 시리즈 시인선. 서른일곱 번째 핀 시리즈의 주인공은 2018년 &lt;...,8
891,위험한 독서 : 김경욱 소설,none,8
1090,산 사람은 살지 - 교유서가 소설,"작가는 그동안 농촌에 대한 이야기를 자주 써왔는데, 이번 작품에서는 그 애정과 관심...",8
1390,"(소설)대왕세종. 상,하",none,8
2074,산행 18시간 (정석화 수필과 소설),none,8
...,...,...,...
155411,호텔마마 [오디오북] : 양수련 소설 . 2 G빌라,none,8
155433,호텔마마 [오디오북] : 양수련 소설 . 6 그리고 예외는 없다,none,8
155492,호텔마마 [오디오북] : 양수련 소설 . 5 호텔마마,none,8
155552,호텔마마 [오디오북] : 양수련 소설 . 4 열꽃,none,8
155661,Save the Cat! 나의 첫 소설 쓰기,none,8

In [49]:
clu10_books

,title,description,tit_cluster
91,22~'24 일반재정지원사업 기획 기초 연구 =,none,9
101,전통 제련 복원실험의 물리화학적 해석 연구(1차년) 보고서,none,9
125,지역사회 통합 돌봄 연계형 주거지 재생 방안 연구,▶ 이 책은 건축도시공간연구소의 지역사회 통합 돌봄 연계형 주거지 재생 방안 연구를...,9
137,데이터 경제 활성화를 위한 건축행정정보 개방 범위 확대방안 연구,▶ 이 책은 건축도시공간연구소의 데이터 경제 활성화를 위한 건축행정정보 개방 범위 ...,9
138,학교지원 시범지구 운영 사례 연구,none,9
...,...,...,...
155084,로봇기술 및 가상현실(Virtual Reality)기술을 이용한 보행장애아동의 보행...,none,9
156520,장애학생 교육용 보조공학 적용 수업사례 연구,none,9
156521,유치원 통합교육 확대를 위한 지원 방안 연구,none,9
156693,에듀테크 현장 적용 방안 연구 :,none,9
156719,산업별 변이를 활용한 법인세 부담의 귀착효과 분석 연구(연구보고서 20-06),이 책은 한국조세재정연구원의『산업별 변이를 활용한 법인세 부담의 귀착효과 분석 연구...,9

In [50]:
clu11_books

,title,description,tit_cluster
436,구원의 날 :정해연 장편소설,none,10
745,구슬똥을 누는 사나이 : 전아리 장편소설,none,10
812,가스라기 : 진산·민해연 장편소설. 중,none,10
831,10월의 아이 : 필립 베송 장편소설,none,10
859,테메레르 : 나오미 노빅 장편소설. 1-5,none,10
...,...,...,...
154296,바다를 노래하고 싶을 때 김기우 장편소설,none,10
154788,양목에 방울달기:코니 윌리스 장편소설,none,10
155301,1999 - 김영준 장편소설,"김영준 장편소설. 휴거를 소재로 하였으나 휴거에 대한 소설이 아니며, 과거 휴거사건...",10
155637,호랑이를 덫에 가두면:태 켈러 장편소설,none,10
156814,오만과 몽상:박완서 장편소설,none,10

In [51]:
clu12_books

,title,description,tit_cluster
0,너에게 목소리를 보낼게 - &lt;달빛천사&gt; 성우 이용신의 첫 번째 에세이,2004년 방영한 애니메이션 &lt;달빛천사&gt;에서 주인공 루나(풀문) 역을 맡...,11
1,일기에도 거짓말을 쓰는 사람 - 99년생 시인의 자의식 과잉 에세이,“그러니 나는 말하고 싶은 것을 말하겠다”「침착하게 사랑하기」 차도하 시인 첫 에세...,11
2,본격 한중일 세계사 12 - 임오군란과 통킹 위기,한중일 관계의 결정적 분기점인 임오군란의 막전 막후를 다룬다. 러시아의 세력 확장을...,11
3,즉시 기분을 바꿔드립니다 - 신기하게 마음이 편해지는 응급 처방전,"누구에게나 기분 구급상자가 필요하다. 하나씩 하나씩 차근차근, 좋은 기분을 쌓고 건...",11
4,"오늘도 리추얼 : 음악, 나에게 선물하는 시간",나다운 일상을 만드는 사람들의 이야기를 담은 『오늘도 리추얼』 시리즈가 위즈덤하우스...,11
...,...,...,...
157112,대학&#x27;생&#x27;은 처음이라,none,11
157113,설민석의 세계사 대모험 11 (영국 산업 혁명 편: 혁명에 맞선 자들),none,11
157115,"과탑이 알려 주는 대학 생활 한 권으로 끝내기 (어서와, 대학은 처음이지?)",none,11
157116,중학영문법 총정리 한권으로 끝내기 (EBS강사 혼공쌤 허준석의 &quot;쉽고 재미...,none,11
157117,"더 빅 윈 (이룰 것인가, 남길 것인가)",none,11

In [25]:
kmeans_clu7=KMeans(n_clusters=10, random_state=42)
clu7_tit_vect= tfidf.fit_transform(clu7_books['title'])
clusters_m=kmeans.fit(clu7_tit_vect)

In [26]:
clu7_books['m_cluster']=clusters_m.labels_

In [27]:
clusters_m.labels_

array([6, 6, 6, ..., 6, 6, 6], dtype=int32)

In [28]:
clu1_books_in7=clu7_books[clu7_books['m_cluster']==0]

clu2_books_in7=clu7_books[clu7_books['m_cluster']==1]

clu3_books_in7=clu7_books[clu7_books['m_cluster']==2]

clu4_books_in7=clu7_books[clu7_books['m_cluster']==3]

clu5_books_in7=clu7_books[clu7_books['m_cluster']==4]

clu6_books_in7=clu7_books[clu7_books['m_cluster']==5]

clu7_books_in7=clu7_books[clu7_books['m_cluster']==6]

clu8_books_in7=clu7_books[clu7_books['m_cluster']==7]

clu9_books_in7=clu7_books[clu7_books['m_cluster']==8]

clu10_books_in7=clu7_books[clu7_books['m_cluster']==9]

In [29]:
clu1_books_in7

,title,description,tit_cluster,m_cluster
105,고등학교 한국사 평가문제집 (2021년) - 2015 개정 교육과정,교과서의 중심 내용에 관한 요약 정리와 보충 설명을 통해 주요 개념을 한눈에 파악할...,6,0
180,빠작 중학 국어 한자 어휘 - 한자를 통해 중학 국어 필수 어휘를 배우는 한자 어휘...,한자를 통해 중학 국어 필수 어휘를 배우는 한자 어휘 기본서다. 중학교 전 학년 국...,6,0
182,빠작 중학 국어 첫 문법 - 중학 국어 문법을 쉽게 익히는 문법 입문서,중학 국어 문법을 쉽게 익힐 수 있는 문법 입문서다. 짧은 단위로 끊어서 정리한 개...,6,0
187,중학교 역사.,none,6,0
291,(EBS link) 국어 영역 :,none,6,0
...,...,...,...,...
149321,(고등학교) 비즈니스 영어 =Business english,none,6,0
151106,(고등학교) 중국어 작문,none,6,0
153819,국어,none,6,0
154595,(2022) 간호관리학 임상실습 지침서 =,none,6,0
154844,국어 교과서 따라쓰기 1-2,"한글을 잘 안다고 해도 모든 공부의 기본은 교과서 익히기가 우선인데, 받아쓰기 시험...",6,0

In [30]:
clu2_books_in7

,title,description,tit_cluster,m_cluster
1062,신경향 건축 1급 실기,none,6,1
1068,사무자동화 OA 산업기사 필기,none,6,1
1538,정보처리기사 필기,none,6,1
1577,"2006 워드프로세서 1급 필기 기출문제 - 새롭게 변경된 윈도우 XP, 이것만은 알자!",대한상공회의소에서 시행하는 워드프로세서 1급 필기 대비 수험서. 이 책은 핵심이론정...,6,1
1619,2006 컴퓨터활용능력 1급 필기 문제집 (2급 포함) - 시험에 나오는 것만 공부한다,시험에 꼭 나오는 내용만 엄선하여 문제가 출제될 수 있는 최소 단위로 핵심을 요약정...,6,1
...,...,...,...,...
154976,건설기계설비기사 필기 부분,그동안의 강의 경험을 토대로 건설기계설비기사 필기를 준비하는 수험생들이 효율적으로 ...,6,1
154982,디딤돌 용접기능사 필기 - 특수용접,용접기능사 시험의 출제기준을 분석하여 보다 쉽고 간결하게 구성하여 처음 용접을 접하...,6,1
155060,건설기계설비기사 필기,건설기계설비기사 필기를 대비할 수 있도록 출제경향에 맞춰서 구성한 수험서다. 재료역...,6,1
155678,"2022 임상심리사 2급 필기 한방에 끝내기 - 현행출제기준 완벽 반영, 최신기출문...",현행출제기준에 맞춰 기초부터 심화까지 단 한 권으로 핵심이론을 완벽 정리할 수 있도...,6,1
156711,2022 Win-Q 품질경영기사 필기 단기완성 - 2021년 최근 기출문제 수록! ...,"1편 핵심이론+핵심예제, 2편 과년도+최근 기출문제로 구성한 수험서다. 1편에서는 ...",6,1

In [31]:
clu3_books_in7

,title,description,tit_cluster,m_cluster
28,산책 소설,현대문학 핀 시리즈 시인선. 서른일곱 번째 핀 시리즈의 주인공은 2018년 &lt;...,6,2
891,위험한 독서 : 김경욱 소설,none,6,2
1090,산 사람은 살지 - 교유서가 소설,"작가는 그동안 농촌에 대한 이야기를 자주 써왔는데, 이번 작품에서는 그 애정과 관심...",6,2
1390,"(소설)대왕세종. 상,하",none,6,2
2074,산행 18시간 (정석화 수필과 소설),none,6,2
...,...,...,...,...
155411,호텔마마 [오디오북] : 양수련 소설 . 2 G빌라,none,6,2
155433,호텔마마 [오디오북] : 양수련 소설 . 6 그리고 예외는 없다,none,6,2
155492,호텔마마 [오디오북] : 양수련 소설 . 5 호텔마마,none,6,2
155516,호텔마마 [오디오북] : 양수련 소설 . 3 살인자의 얼굴을 보고야 말 것이다,none,6,2
155552,호텔마마 [오디오북] : 양수련 소설 . 4 열꽃,none,6,2

In [32]:
clu4_books_in7

,title,description,tit_cluster,m_cluster
18,천 번의 죽음이 내게 알려준 것들 - 호스피스 의사가 전하는 삶과 죽음에 관한 이야기,수없이 임종 선언을 했어도 여전히 누군가의 죽음에 담담해질 수 없다고 말하는 저자는...,6,3
26,"전라디언의 굴레 - 지역과 계급이라는 이중차별, 누구나 알지만 아무도 모르는 호남의...","여기, 우리 사회가 만들어낸 각양각색의 모순이 두텁고도 끈끈히 덧얽힌 호남을 집요하...",6,3
32,한 게으른 시인의 이야기,none,6,3
289,제주문화에 담긴 날씨 이야기,none,6,3
740,"로마인 이야기 .5 ,율리우스 카이사르, 하",none,6,3
...,...,...,...,...
156631,[큰글자책] 차 인문학 이야기,『차 인문학 이야기』는 저자 정병만이 펴낸 음식문화에 대해 다룬 도서입니다. 기초적...,6,3
156824,가슴에 품은 세 가지 보물 - 문자도 효 이야기,"새어머니가 삼 형제가 구해온 잉어와 죽순, 귤을 보고 감동 받아 죄를 뉘우치고 행복...",6,3
156828,다시 들려준 이야기 - 호손의 인생 수업,"호손의 데뷔작인 &lt;팬쇼(Fanshawe, A Tale)&gt;(1828) 이후...",6,3
156897,"안녕, 나는 경주야 - 어린이 경주 가이드북, 동화로 읽는 경주 여행 정보 이야기",경주의 천년 역사를 친절한 경주가 직접 설명해주는 어린이 가이드북이다. 그 수많은 ...,6,3
156910,그림으로 읽는 친절한 기후위기 이야기 - 2050 탄소 중립 시대를 위해 우리가 반...,기후위기에 대해 우리가 꼭 알아야 할 정보만을 간결하게 추려서 인포그래픽으로 깔끔하...,6,3

In [33]:
clu5_books_in7

,title,description,tit_cluster,m_cluster
11774,(세상에서 가장)소중한 못난이,"초등학생을 위한 창의학습동화. 이 책은 창의적인 학습을 위한 동화로 책읽기, 말하기...",6,4
13292,내사랑 줄리엣,수잔 앤더슨 장편 로맨스. 뉴올리언스에 해로 개관할 호텔을 단장하려는 새침떼기 천상...,6,4
14508,못난이 내 친구,가시가 삐죽삐죽 나 있는 고슴도치 피쿠르는 언제나 혼자. 다른 사람한테 업히고 안기...,6,4
17041,못난이 일기:꿈은 이루어진다,none,6,4
35923,못난이 양지꽃,none,6,4
35926,못난이 양지꽃,좋은 그림동화 시리즈 21권. 아름다운 꽃으로 활짝 피어날 때까지 홀로 언덕에서 지...,6,4
82790,첫사랑처럼 빛나는 내사랑 논개여 :논개를 사모하는 작가들,none,6,4
98718,내사랑 몽식이 :몰도비아 장편소설,몰도비아 장편소설. 등단의 꿈을 꾸며 글쓰기와 아르바이트를 병행하고 있는 윤희. 어...,6,4
99982,내사랑 못난이,none,6,4
99984,내사랑 못난이,삼류대학 1학년 토모카즈는 비교적 잘생긴 남자라 꽤 인기가 있지만 웬일인지 여자친구...,6,4
99985,내사랑 못난이,토모카즈는 모모에를 좋아한다. 약간 못생겼지만…. 물론 모모에도 토모카즈가 무지 좋...,6,4
99986,내사랑 못난이,내 여자 친구가 그리비어에! 수영복 차림으로 섹시 포즈! 하지만 얼굴이…?! 모모에...,6,4
138991,내사랑 느림보,"결혼하고 첫째아들 희망이를 낳아 기르며 평범하게 지냈다. 5년 후, 둘째딸 봄이를 ...",6,4

In [34]:
clu6_books_in7

,title,description,tit_cluster,m_cluster
1057,"중년예찬 - 모자란 것도, 넘치는 것도 없는 나이",이 시대의 모든 중년들에게 따뜻한 위로와 응원의 메시지를 보내는 책이다. 저자는 중...,6,5
1562,절대로 바꿀 수 없는 다섯가지 : 인생의 아픔에 관한 최소한의 교양,none,6,5
1696,꽃도 십자가도 없는 무덤,none,6,5
1787,다른 이름으로 부를 수 없는 이름,none,6,5
2824,"정답 없는 입시, 균형이 답이다",none,6,5
...,...,...,...,...
155383,발음이 같은 단어와 소리 없는 글자,25년 동안 영어 교육에 힘써왔습니다. 아이들을 가르치면서 동음이의어와 묵음은 단어...,6,5
155599,원본 없는 판타지,"‘모두를 위한’과 ‘지극히 사적인’이라는 페미니즘의 단선적 구호 앞에서 서성이는, ...",6,5
156385,길 없는 길 위에서 - 이현주와 김진호의 대화,"세상은 늘 변화하고, 변화란 자연만물에 필연적이지만 근래 우리가 맞닥뜨린 변화는 유...",6,5
156406,마호로 역 번지 없는 땅,독창적인 캐릭터와 신선한 이야기로 독자들에게 감동을 선사하는 작가 미우라 시온의 대...,6,5
157094,우리 없는 세상,작가는 사회복지사와 상담가로 오래 일했다. 그는 자살로 누군가를 잃었거나 스스로 자...,6,5

In [35]:
clu7_books_in7

,title,description,tit_cluster,m_cluster
0,너에게 목소리를 보낼게 - &lt;달빛천사&gt; 성우 이용신의 첫 번째 에세이,2004년 방영한 애니메이션 &lt;달빛천사&gt;에서 주인공 루나(풀문) 역을 맡...,6,6
1,일기에도 거짓말을 쓰는 사람 - 99년생 시인의 자의식 과잉 에세이,“그러니 나는 말하고 싶은 것을 말하겠다”「침착하게 사랑하기」 차도하 시인 첫 에세...,6,6
2,본격 한중일 세계사 12 - 임오군란과 통킹 위기,한중일 관계의 결정적 분기점인 임오군란의 막전 막후를 다룬다. 러시아의 세력 확장을...,6,6
3,즉시 기분을 바꿔드립니다 - 신기하게 마음이 편해지는 응급 처방전,"누구에게나 기분 구급상자가 필요하다. 하나씩 하나씩 차근차근, 좋은 기분을 쌓고 건...",6,6
4,"오늘도 리추얼 : 음악, 나에게 선물하는 시간",나다운 일상을 만드는 사람들의 이야기를 담은 『오늘도 리추얼』 시리즈가 위즈덤하우스...,6,6
...,...,...,...,...
157112,대학&#x27;생&#x27;은 처음이라,none,6,6
157113,설민석의 세계사 대모험 11 (영국 산업 혁명 편: 혁명에 맞선 자들),none,6,6
157115,"과탑이 알려 주는 대학 생활 한 권으로 끝내기 (어서와, 대학은 처음이지?)",none,6,6
157116,중학영문법 총정리 한권으로 끝내기 (EBS강사 혼공쌤 허준석의 &quot;쉽고 재미...,none,6,6
157117,"더 빅 윈 (이룰 것인가, 남길 것인가)",none,6,6

In [9]:
pip install fastapi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fastapi
  Downloading fastapi-0.87.0-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 2.2 MB/s
Collecting starlette==0.21.0
  Downloading starlette-0.21.0-py3-none-any.whl (64 kB)
     |████████████████████████████████| 64 kB 2.1 MB/s
Requirement already satisfied: pydantic!=1.7,!=1.7.1,!=1.7.2,!=1.7.3,!=1.8,!=1.8.1,<2.0.0,>=1.6.2 in /usr/local/lib/python3.7/dist-packages (from fastapi) (1.10.2)
Requirement already satisfied: typing-extensions>=3.10.0 in /usr/local/lib/python3.7/dist-packages (from starlette==0.21.0->fastapi) (4.1.1)
Collecting anyio<5,>=3.4.0
  Downloading anyio-3.6.2-py3-none-any.whl (80 kB)
     |████████████████████████████████| 80 kB 7.9 MB/s
Collecting sniffio>=1.1
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.7/dist-packages (from anyio<5,>=3.4.0->starlette==0.21.0->fastapi) (2.10)
Installing collected packages: sniffio, anyio, starlette, fastapi
Successfully installed anyio-3.6.2 fastapi-0.87.0 sniffio-1.3.0 starlette-0.21.0

In [10]:
pip install uvicorn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting uvicorn
  Downloading uvicorn-0.19.0-py3-none-any.whl (56 kB)
     |████████████████████████████████| 56 kB 2.3 MB/s
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from uvicorn) (4.1.1)
Collecting h11>=0.8
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 1.2 MB/s
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from uvicorn) (7.1.2)
Installing collected packages: h11, uvicorn
Successfully installed h11-0.14.0 uvicorn-0.19.0

In [11]:
pip install 'uvicorn[standard]'

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: uvicorn[standard] in /usr/local/lib/python3.7/dist-packages (0.19.0)
Requirement already satisfied: h11>=0.8 in /usr/local/lib/python3.7/dist-packages (from uvicorn[standard]) (0.14.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from uvicorn[standard]) (4.1.1)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from uvicorn[standard]) (7.1.2)
Collecting httptools>=0.5.0
  Downloading httptools-0.5.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (404 kB)
     |████████████████████████████████| 404 kB 5.3 MB/s
Collecting websockets>=10.0
  Downloading websockets-10.4-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (106 kB)
     |████████████████████████████████| 106 kB 45.0 MB/s
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from uvicorn[standard]) (6.0)
Collecting python-dotenv>=0.13
  Downloading python_dotenv-0.21.0-py3-none-any.whl (18 kB)
Collecting watchfiles>=0.13
  Downloading watchfiles-0.18.1-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 36.5 MB/s
Collecting uvloop!=0.15.0,!=0.15.1,>=0.14.0
  Downloading uvloop-0.17.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.2 MB)
     |████████████████████████████████| 4.2 MB 42.7 MB/s
Requirement already satisfied: anyio>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from watchfiles>=0.13->uvicorn[standard]) (3.6.2)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.7/dist-packages (from anyio>=3.0.0->watchfiles>=0.13->uvicorn[standard]) (2.10)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.7/dist-packages (from anyio>=3.0.0->watchfiles>=0.13->uvicorn[standard]) (1.3.0)
Installing collected packages: websockets, watchfiles, uvloop, python-dotenv, httptools
Successfully installed httptools-0.5.0 python-dotenv-0.21.0 uvloop-0.17.0 watchfiles-0.18.1 websockets-10.4

In [17]:
# main.py

from fastapi import FastAPI # FastAPI 모듈 가져오기

app = FastAPI() # 객체 생성

@app.get("/") # Route Path
def test_index():
	
    # Json 타입으로 값 반환
    return {
	    "Python": "Framework",
	}
    
@app.get("/something")
def something():
    return {
        "Something": "Page",
    }

In [18]:
uvicorn main:app --reload --port 8000
# uvicorn을 통해 실행시킨다

SyntaxError: ignored

In [ ]:
uvicorn cake:serum --reload
# 파일명과 객체명을 변경하여 실행

In [ ]:
localhost:8000
{"Python":"Framework"}

localhost:8000/something
{"Something":"Page"}

In [ ]:
# fastapi db connection

In [ ]:
pip3 install sqlalchemy
# ORM을 통하여 DB 쿼리문을 작성하기 위해 설치

In [ ]:
pip3 install python-dotenv
# DB관련 정보를 입력할 때, 환경변수를 통하여 내용을 입력하기 위해 dotenv 설치

In [ ]:
# main.py

import os
from typing import Optional
from fastapi import FastAPI
from routes.test import router as test_router

app = FastAPI() # FastAPI 모듈
app.include_router(test_router) # 다른 route파일들을 불러와 포함시킴

@app.get("/") # Route Path
def index():
    return {
        "Python": "Framework",
    }

In [ ]:
from typing import Optional
from fastapi import APIRouter, Depends
from sqlalchemy.orm import Session
from db.connection import get_db
from crud import crud_test
from apis import test # main logic

router = APIRouter(
    prefix="/items", # url 앞에 고정적으로 붙는 경로추가
) # Route 분리

@router.get("/test_route") # Route Path
def test_index(db: Session = Depends(get_db)):
	
	res = test.test_index(db=db) # apis 호출
	
	return {
        "res" : res,
	} # 결과

In [ ]:
from db.session import SessionLocal

def get_db():
	db = SessionLocal()
	try:
		yield db # DB 연결 성공한 경우, DB 세션 시작
	finally:
		db.close()
		# db 세션이 시작된 후, API 호출이 마무리되면 DB 세션을 닫아준다.

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base # Base 생성
from core.config import settings


SQLALCHEMY_DATABASE_URL = settings.DATABASE_URL
engine = create_engine(SQLALCHEMY_DATABASE_URL)

SessionLocal = sessionmaker(autocommit=False,autoflush=False,bind=engine)
Base = declarative_base()

In [ ]:
# core/config.py

import os
from dotenv import load_dotenv

load_dotenv()

class Settings:
	
    DB_USERNAME : str = os.getenv("DB_USERNAME")
    DB_PASSWORD = os.getenv("DB_PASSWORD")
    DB_HOST : str = os.getenv("DB_HOST","localhost")
    DB_PORT : str = os.getenv("DB_PORT",3306)
    DB_DATABASE : str = os.getenv("DB_DATABASE")
	
    DATABASE_URL = f"mysql+pymysql://{DB_USERNAME}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_DATABASE}"

settings = Settings()

In [ ]:
# routes/test.py

@router.get("/test_route") # Route Path
def test_index(db: Session = Depends(get_db)):
	
	res = test.test_index(db=db) # apis 호출
	
	return {
        "res" : res,
	} # 결과

In [ ]:
# apis/test.py

from sqlalchemy.orm import Session
from crud import crud_test

def test_index(db):
    something = crud_test.get_items(db)
    return something

In [ ]:
# crud/crud_test.py

from sqlalchemy.orm import Session
from db.models.test_model import Test

def get_items(db: Session):
    return db.query(Test).all()

In [ ]:
# models/test_model.py

from sqlalchemy import Column, String, Integer, ForeignKey
from sqlalchemy.orm import relationship
from db.session import Base


class Test(Base):
    __tablename__ = "test"

    id = Column(Integer, primary_key=True, index=True)
    title = Column(String)
    description = Column(String)

In [ ]:
pip install sentence_transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sentence_transformers
  Downloading sentence-transformers-2.2.2.tar.gz (85 kB)
     |████████████████████████████████| 85 kB 4.3 MB/s
Requirement already satisfied: transformers<5.0.0,>=4.6.0 in /usr/local/lib/python3.7/dist-packages (from sentence_transformers) (4.24.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from sentence_transformers) (4.64.1)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from sentence_transformers) (1.12.1+cu113)
Requirement already satisfied: torchvision in /usr/local/lib/python3.7/dist-packages (from sentence_transformers) (0.13.1+cu113)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from sentence_transformers) (1.21.6)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sentence_transformers) (1.0.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from sentence_transformers) (1.7.3)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from sentence_transformers) (3.7)
Collecting sentencepiece
  Downloading sentencepiece-0.1.97-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 33.8 MB/s
Requirement already satisfied: huggingface-hub>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from sentence_transformers) (0.10.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence_transformers) (2.23.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence_transformers) (4.13.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence_transformers) (6.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence_transformers) (3.8.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence_transformers) (4.1.1)
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence_transformers) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.9->huggingface-hub>=0.4.0->sentence_transformers) (3.0.9)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from transformers<5.0.0,>=4.6.0->sentence_transformers) (0.13.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers<5.0.0,>=4.6.0->sentence_transformers) (2022.6.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->huggingface-hub>=0.4.0->sentence_transformers) (3.10.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk->sentence_transformers) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk->sentence_transformers) (1.2.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->huggingface-hub>=0.4.0->sentence_transformers) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->huggingface-hub>=0.4.0->sentence_transformers) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->huggingface-hub>=0.4.0->sentence_transformers) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->huggingface-hub>=0.4.0->sentence_transformers) (1.24.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sentence_transformers) (3.1.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.7/dist-packages (from torchvision->sentence_transformers) (7.1.2)
Building wheels for collected packages: sentence-transformers
  Building wheel for sentence-transformers (setup.py) ... done
  Created wheel for sentence-transformers: filename=sentence_transformers-2.2.2-py3-none-any.whl size=125938 sha256=c309a6190db71372ff8c5d4096800acaa22926f32269c33e7091768d8d9ec477
  Stored in directory: /root/.cache/pip/wheels/bf/06/fb/d59c1e5bd1dac7f6cf61ec0036cc3a10ab8fecaa6b2c3d3ee9
Successfully built sentence-transformers
Installing collected packages: sentencepiece, sentence-transformers
Successfully installed sentence-transformers-2.2.2 sentencepiece-0.1.97

In [ ]:
from sentence_transformers import SentenceTransformer
model = SentenceTransformer('bert-base-nli-mean-tokens')

In [ ]:
#Encoding:
sen_embeddings = model.encode(clu3_books['description'])
sen_embeddings.shape

KeyError: ignored

In [ ]:
clu2_books

                 title description  tit_cluster
2497    풍신뇌신 :사마달 武俠漫畵        none            1
2498    풍신뇌신 :사마달 武俠漫畵        none            1
2499    풍신뇌신 :사마달 武俠漫畵        none            1
2500    풍신뇌신 :사마달 武俠漫畵        none            1
2501    풍신뇌신 :사마달 武俠漫畵        none            1
...                ...         ...          ...
119301  천라지망 :사마달 武俠漫畵        none            1
119302  천라지망 :사마달 武俠漫畵        none            1
119303  천라지망 :사마달 武俠漫畵        none            1
119304  천라지망 :사마달 武俠漫畵        none            1
119305  천라지망 :사마달 武俠漫畵        none            1

[505 rows x 3 columns]

In [ ]:
print(clu2_books.iloc[268])

title                                              고신척영:사마달 무예소설
description    &quot;목표가 있으면 더욱 빨리 이겨낼 수 있을거야.&quot; 설리화의 말이 ...
tit_cluster                                                    1
Name: 53419, dtype: object

In [ ]:
clu1_books

,title,description,tit_cluster
81,Global Forum on Transparency and Exchange of I...,none,0
93,OECD Studies on Smes and Entrepreneurship the ...,none,0
152,The Governance of Regulators Driving Performan...,none,0
174,Implementing Education Policies Achieving the ...,none,0
221,Getting Skills Right Improving the Quality of ...,none,0
...,...,...,...
157072,This Poison Heart : From the author of the Tik...,Completely in line with the Early Years Founda...,0
157081,Unbound: My Story of Liberation and the Birth ...,none,0
157087,"개발자로 살아남기 - 한글과컴퓨터, 블리자드, 넥슨, 삼성전자, 몰로코 출신 개발자...",실리콘밸리와 우리나라에서 30년간 TOP 개발자로 활약한 저자의 커리어패스 인사이트...,0
157109,Impact Craters of North America: Impact Crater...,none,0
157114,A Clinical Atlas: Variations of the Bones of t...,none,0

In [ ]:
clu2_books

                 title description  tit_cluster
2497    풍신뇌신 :사마달 武俠漫畵        none            1
2498    풍신뇌신 :사마달 武俠漫畵        none            1
2499    풍신뇌신 :사마달 武俠漫畵        none            1
2500    풍신뇌신 :사마달 武俠漫畵        none            1
2501    풍신뇌신 :사마달 武俠漫畵        none            1
...                ...         ...          ...
119301  천라지망 :사마달 武俠漫畵        none            1
119302  천라지망 :사마달 武俠漫畵        none            1
119303  천라지망 :사마달 武俠漫畵        none            1
119304  천라지망 :사마달 武俠漫畵        none            1
119305  천라지망 :사마달 武俠漫畵        none            1

[505 rows x 3 columns]

In [ ]:
clu3_books

,title,description,tit_cluster
77494,전설이 돌아오다 =천창원 게임판타지 장편소설 /Legend is back,none,2
77495,전설이 돌아오다 =천창원 게임판타지 장편소설 /Legend is back,"천창원의 게임판타지 장편소설. '사망하셨습니다.' 델리안 제국의 초대 황제, 유저 ...",2
77496,전설이 돌아오다 =천창원 게임판타지 장편소설 /Legend is back,"천창원의 게임판타지 장편소설. '사망하셨습니다.' 델리안 제국의 초대 황제, 유저 ...",2
77497,전설이 돌아오다 =천창원 게임판타지 장편소설 /Legend is back,"천창원의 게임판타지 장편소설. '사망하셨습니다.' 델리안 제국의 초대 황제, 유저 ...",2
77498,전설이 돌아오다 =천창원 게임판타지 장편소설 /Legend is back,"천창원의 게임판타지 장편소설. '사망하셨습니다.' 델리안 제국의 초대 황제, 유저 ...",2
77499,전설이 돌아오다 =천창원 게임판타지 장편소설 /Legend is back,"천창원의 게임판타지 장편소설. '사망하셨습니다.' 델리안 제국의 초대 황제, 유저 ...",2
77500,전설이 돌아오다 =천창원 게임판타지 장편소설 /Legend is back,"천창원의 게임판타지 장편소설. '사망하셨습니다.' 델리안 제국의 초대 황제, 유저 ...",2
77501,전설이 돌아오다 =천창원 게임판타지 장편소설 /Legend is back,"천창원의 게임판타지 장편소설. '사망하셨습니다.' 델리안 제국의 초대 황제, 유저 ...",2
77502,전설이 돌아오다 =천창원 게임판타지 장편소설 /Legend is back,"천창원의 게임판타지 장편소설. '사망하셨습니다.' 델리안 제국의 초대 황제, 유저 ...",2
77503,전설이 돌아오다 =천창원 게임판타지 장편소설 /Legend is back,"천창원의 게임판타지 장편소설. '사망하셨습니다.' 델리안 제국의 초대 황제, 유저 ...",2

In [ ]:
clu4_books

,title,description,tit_cluster
127,OECD Tourism Trends and Policies 2020 (Paperback),none,3
142,Decentralisation and Regionalisation in Portug...,none,3
161,OECD Reviews of Evaluation and Assessment in E...,none,3
226,"Lobbying in the 21st Century Transparency, Int...",none,3
230,Gender and the Environment Building Evidence a...,none,3
...,...,...,...
157031,Fox and I : An Uncommon Friendship (Hardcover),none,3
157038,Where Tomorrows Aren't Promised: A Memoir of S...,From iconic NBA All-Star Carmelo Anthony comes...,3
157047,Of Women and Salt (Hardcover),none,3
157074,Travels with George: In Search of Washington a...,none,3
157080,"Trejo: My Life of Crime, Redemption, and Holly...",&quot;Danny Trejo is an American Treasure... I...,3

In [ ]:
clu5_books

,title,description,tit_cluster
47271,푸른 광장에서 놀다:엄우흠 장편소설,1991년 &lt;감색 운동화 한 켤레&gt;로 등단한 저자의 두번째 장편소설. 서...,4
47272,푸른 광장에서 놀다:엄우흠 장편소설,none,4
47273,푸른 광장에서 놀다:엄우흠 장편소설,이번 소설에서도 작가는 변두리 산동네 주민의 궁핍한 삶을 위트 넘치는 문체로 그려내...,4
64716,"열네 살 푸른 가슴:허만길 선생님이 청소년에게 전하는 푸른 꿈, 푸른 희망",전 서울 당곡고등학교 교장 허만길의 열네 살 청소년들을 위한 에세이집. 인생의 방향...,4

In [ ]:
clu6_books

,title,description,tit_cluster
2295,캐릭터 콘셉트 정립(판타지 RPG 캐릭터를 디자인하기 위한) (판타지 RPG 캐릭터...,none,5
9906,판타지 유니버스 창작 사전 1 - 이세계 판타지,중세 유럽을 배경으로 ‘검과 마법의 판타지’를 창작할 때 필요한 기초적인 정보를 담...,5
12014,아리우스 전기=양수종 판타지 장편소설.Legend of Arius,none,5
12018,아리우스 전기=양수종 판타지 장편소설.Legend of Arius,하이텔과 제1회 황금드래곤 문학상에 연재됐던 가 책으로 출간됐다. 가상국가인 뮤란 ...,5
12019,아리우스 전기=양수종 판타지 장편소설.Legend of Arius,하이텔과 제1회 황금드래곤 문학상에 연재됐던 가 책으로 출간됐다. 가상국가인 뮤란 ...,5
...,...,...,...
138151,내 소환수는 천만 대군 :무야호우 판타지 장편소설,none,5
138153,내 소환수는 천만 대군 :무야호우 판타지 장편소설,none,5
138154,내 소환수는 천만 대군 :무야호우 판타지 장편소설,none,5
138155,내 소환수는 천만 대군 :무야호우 판타지 장편소설,none,5
142139,스카치캔디 할머니의 비밀주머니 :어른들의 성장 판타지 소설,"지도에 없는 기차역, 그 곳에서 시작된 특별한 만남. 무엇에 홀린 듯 갑자기 짐을 ...",5

In [ ]:
clu7_books

,title,description,tit_cluster
0,너에게 목소리를 보낼게 - &lt;달빛천사&gt; 성우 이용신의 첫 번째 에세이,2004년 방영한 애니메이션 &lt;달빛천사&gt;에서 주인공 루나(풀문) 역을 맡...,6
1,일기에도 거짓말을 쓰는 사람 - 99년생 시인의 자의식 과잉 에세이,“그러니 나는 말하고 싶은 것을 말하겠다”「침착하게 사랑하기」 차도하 시인 첫 에세...,6
2,본격 한중일 세계사 12 - 임오군란과 통킹 위기,한중일 관계의 결정적 분기점인 임오군란의 막전 막후를 다룬다. 러시아의 세력 확장을...,6
3,즉시 기분을 바꿔드립니다 - 신기하게 마음이 편해지는 응급 처방전,"누구에게나 기분 구급상자가 필요하다. 하나씩 하나씩 차근차근, 좋은 기분을 쌓고 건...",6
4,"오늘도 리추얼 : 음악, 나에게 선물하는 시간",나다운 일상을 만드는 사람들의 이야기를 담은 『오늘도 리추얼』 시리즈가 위즈덤하우스...,6
...,...,...,...
157112,대학&#x27;생&#x27;은 처음이라,none,6
157113,설민석의 세계사 대모험 11 (영국 산업 혁명 편: 혁명에 맞선 자들),none,6
157115,"과탑이 알려 주는 대학 생활 한 권으로 끝내기 (어서와, 대학은 처음이지?)",none,6
157116,중학영문법 총정리 한권으로 끝내기 (EBS강사 혼공쌤 허준석의 &quot;쉽고 재미...,none,6
157117,"더 빅 윈 (이룰 것인가, 남길 것인가)",none,6

In [ ]:
clu8_books

,title,description,tit_cluster
38192,(표현력과 창의력을 위한) 초등 서술형 수학 :서술형 평가 대비서,학교시험 및 국가수준 학업성취도 평가를 대비하기 위한 서술형 평가문제집. 다년간의 ...,7
38193,(표현력과 창의력을 위한) 초등 서술형 수학 :서술형 평가 대비서,- 독자대상 : 초등학교 4학년- 구성 : 유형학습 + 핵심문제- 특징① 서술형 문...,7
38194,(표현력과 창의력을 위한) 초등 서술형 수학 :서술형 평가 대비서,- 독자대상 : 초등학교 5학년- 구성 : 초등 서술형 수학문제,7
38195,(표현력과 창의력을 위한) 초등 서술형 수학 :서술형 평가 대비서,"기존 교재가 풀이 과정을 설명하는 문항에만 치중하는 것과 달리, 표창수는 7차 교육...",7
38196,(표현력과 창의력을 위한) 초등 서술형 수학 :플러스 10유형,학교시험 및 국가수준 학업성취도 평가를 대비하기 위한 서술형 평가문제집이다. 지식 ...,7
38197,(표현력과 창의력을 위한) 초등 서술형 수학 :플러스 10유형,- 독자대상 : 초등 4학년 수학 학습자- 구성 : 서술형 수학 문제- 특징 : 표...,7
39051,(표현력과 창의력을 위한) 초등 서술형 수학 :서술형 평가 대비서,- 독자대상 : 초등학교 5학년- 구성 : 문제- 특징① 교과서에 나오는 기본적인 ...,7
39052,(표현력과 창의력을 위한) 초등 서술형 수학 :서술형 평가 대비서,- 독자대상 : 초등학교 6학년- 구성 : 문제- 특징① 교과서에 나오는 기본적인 ...,7

In [ ]:
clu9_books

,title,description,tit_cluster
28201,武林獨尊:司馬達 武俠小說,none,8
28203,武林獨尊:司馬達 武俠小說,"서북방의 작은 고을, 야자는 장노인의 의붓 아들이 되고 그 연으로 무림유례에 찾아볼...",8
28204,武林獨尊:司馬達 武俠小說,"서북방의 작은 고을, 야자는 장노인의 의붓 아들이 되고 그 연으로 무림유례에 찾아볼...",8
43526,刀宗:司馬達.白昌烈 武俠小說,none,8
43527,刀宗:司馬達.白昌烈 武俠小說,none,8
...,...,...,...
48900,龍王爭覇:司馬達 武俠小說,none,8
49172,용왕쟁패:司馬達 武俠小說,none,8
49173,용왕쟁패:司馬達 武俠小說,none,8
49174,용왕쟁패:司馬達 武俠小說,none,8
49175,용왕쟁패:司馬達 武俠小說,none,8

In [ ]:
clu10_books

,title,description,tit_cluster
43,"역사를 품은 수학, 수학을 품은 역사 - 인류의 역사에 스며든 수학적 통찰의 힘","10만 독자가 선택한 『수학이 필요한 순간』 김민형 교수의 최신작으로, 네이버 온라...",9
96,스스로 평가하고 준비하는! 교육청 영재교육원 봉투모의고사 초등 4~5학년 수학(정보...,교육청 영재교육원을 준비하는 구매자층을 위한 맞춤형 모의고사 형식의 문제집이다. 실...,9
129,초등 수학 비와 비례 개념이 먼저다 1 - 원리부터 연산까지 한번에 잡는,"비, 비율, 백분율의 개념뿐만 아니라 실생활에 활용되는 상황까지 이미지화하여 이해하...",9
139,전국 영어/수학 학력 경시대회 수학 기출문제집 전기 : 중등1 - 기출문제편 + 문...,최근 10개년도 전기 시험의 기출문제가 통계자료와 함께 수록되어 있다. 본 기출문제...,9
143,똑똑한 하루 수학 1-2 (2021년) - 혼자 공부하는 4주 완성 개념서,"한 주에 5일씩 4주 완성 교재로, 만화를 통해 이번 주에 공부할 내용과 개념을 재...",9
...,...,...,...
152584,맛있는 수학 6-나 - 홍선생 수학교실,초등학교 6학년 2학기 수학 학업성취도 평가 서술·논술형 시험 대비 필독서!『맛있는...,9
152635,수학 중8-나 (더블클릭 2004),none,9
153650,구술면접 떨어지곤 못참아 3 (수학.과학),"구술면접, 파이널 적중 문제집인 「구술면접, 떨어지곤 못 참아」는 2003학년도 수...",9
154256,붐 특강 수학 1 (2016년) - 단기특강서,#NAME?,9
155480,이런 수학이라면 포기하지 않을 텐데 - 문제가 쉽게 풀리는 짜릿한 수학 강의,쉴 틈 없이 정답과 공식을 제시해 여러분이 마음껏 생각할 기회를 뺏지도 않는다. 쉽...,9

In [ ]:
clu7_books